.dropzone{
    text-align: center;
    padding: 20px;
    border: 3px solid white;
    cursor: pointer;
}
h3{
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  
}

.loaderContainer{
    width: 100%;
    max-height: 280px;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer{
    max-height: 300px;
    overflow: hidden;
    margin-top: 30px;
    padding: 10px;
    border-bottom: 1px solid  rgb(150, 219, 165);
}

.image{
    width: 100%; 
    max-width: 280px;
    max-height: 300px;
}
.gif{
    width: 100px;
    
}
