*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    min-height: 100vh;
    display: grid;
    justify-content: center;
    background-color: rgb(24, 23, 23);
}

h1{
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.form{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    justify-content: space-around;
    align-items: center;
    min-height: 90vh;
    padding: 20px;
    gap: 20px;   
    border-top: 1px solid rgb(134, 211, 151);
    margin-top: 20px;
}

.containerItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.item{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    min-height: 150px;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;   
}

p{
    color: white;
}

.input ,select{
    outline: none;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    max-width: 260px;
    border: 3px solid transparent;
    background-color: rgb(236, 227, 227);
}

option{
   cursor: pointer;
   text-align: center;
}

.textarea{
    background-color: rgb(236, 227, 227);
    height: 50px;
    width: 100%;
    max-width: 600px;
    outline: none;
    padding: 10px;
}

.textarea:hover{
    border: 3px solid rgb(134, 211, 151);
}

.label{
    font-size: 18px;
    color: rgba(236, 227, 227, 0.829);
    margin: 10px;
    cursor: pointer;
}

.button{
    cursor: pointer;
    background-color: white;
    border: none;
    font-weight: 600;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    width: 240px;
    height: 40px;
    border: 3px solid transparent;
    background:  rgb(150, 219, 165);
}

input:hover, input:focus{
    border-color: rgb(150, 219, 165);
}

.button:hover, .properties:hover{
    box-shadow: 0 0 10px rgb(82, 66, 66);
    transform: scale(1.05);
}

.buttonLoading{
    cursor: pointer;
    position: relative;
    background-color: rgb(134, 211, 151);
    border: none;
    font-weight: 600;
    border-radius: 30px;
    font-size: 18px;
    width: 120px;
    height: 40px;
}

.properties{
    height: 30px;
    align-self: center;
    margin-top: 40px;
    width: 100px;
    background-color: rgb(134, 211, 151);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}


.buttonOff{
    display: none;
}

.buttonLoading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
  
.nftContainer{
    border-top: 1px solid rgb(134, 211, 151);
    padding: 10px;
    display: flex;
    gap: 30px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(134, 211, 151);
    
}

.nftProperties{
    min-width: 300px;
}

.nftContainer img{
    width: 100%;
    max-width: 300px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(236, 227, 227) inset !important;
}


  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }